{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
	<div class="row divider green">
		<div class="col-md-12"></div>
	</div>
	<div class="row banner menu">
		<div class="col-md-11 col-md-offset-1 padding-none">
			<h1>New Course</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 col-md-offset-1 padding-top">
			<form action="#" method = "post">
				<div class="form-group">
					<label for="name">Name:</label>
					<input type ="text" maxlength="50" class="form-control" name="name"placeholder="Name of the course" required>

					<label for="description">Description:</label>
					<textarea class="form-control" maxlength="250" rows="3" name="description" placeholder="Description of the course" required></textarea>

					<label for="professor">Professor:</label>
					<div class="input-group">
						<div class="input-group-addon">Professor</div>
						<input type ="text" class="form-control" maxlength="10" name="professor" placeholder="Professor of the course" required>
					</div>
					<label for="school">School:</label>
					<div class="radio">
					  <label>
					    <input type="radio" name="school" id="school1" value="School of Spells" required>School of Spells
					  </label>
					</div>
					<div class="radio">
					  <label>
					    <input type="radio" name="school" id="school2" value="School of Defence Against Dark Arts">School of Defence Against Dark Arts
					  </label>
					</div>
					<div class="radio">
					  <label>
					    <input type="radio" name="school" id="school3" value="School of Potions">School of Potions
					  </label>
					</div>
					<div class="radio">
					  <label>
					    <input type="radio" name="school" id="school4" value="School of Creature Care">School of Creature Care
					  </label>
					</div>
					<button type="submit" class="btn btn-default" id="submit" type="submit">
					<span class="glyphicon glyphicon-flash" aria-hidden="true"></span>Create</button>
				</div>
			</form>
		</div>
	</div>
{% endblock %}

