{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
	
	<div class="row divider green">
		<div class="col-md-12"></div>
	</div>
	<div class="row banner menu">
		<div class="col-md-11 col-md-offset-1 padding-none">
			<h1>{{ university.name }}
			<figure class="creator">
				<img src="{{ url_for('static', filename='blank_user.gif') }}">
				<figcaption>Ministry of Magic</figcaption>
			</figure>
			</h1>

		</div>
	</div>
	<div class="row padding-top padding-bottom">
		<div class="col-md-1"></div>
		<div class="col-md-11 padding-none">
			
		</div>
		<div class="col-md-7"></div>
	</div>
	<div class="row">
		<div class="col-md-12">
			{% with messages = get_flashed_messages() %}
				{% if messages %}
					<ul>
						{% for message in messages %}
							 <li> <strong> {{ message }} </strong> </li>
						{% endfor %}
					</ul>
				{% endif %}
			{% endwith %}
		</div>
	</div>
	{% if courses !=[] %}	
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-3">
				<h2>School of Spells</h2>
					{% for i in courses %}
						{% if i.school == 'School of Spells' %}
							<div class="course-item">
								<h3>{{i.name}}</h3>
								<p>{{i.description}}</p>
								<p class="course-price">{{i.professor}}</p>
							</div>
						{% endif %}
					{% endfor %}
			</div>
			<div class="col-md-4">			
				<h2>School of Defence Against Dark Arts</h2>
					{% for i in courses %}
						{% if i.school == 'School of Defence Against Dark Arts' %}
						<div class="course-item">
							<h3>{{i.name}}</h3>
							<p>{{i.description}}</p>
							<p class="course-price">{{i.professor}}</p>
						</div>
						{% endif %}
					{% endfor %}
			</div>
			<div class="col-md-3">
				<h2>School of Potions</h2>
					{% for i in courses %}
						{% if i.school == 'School of Potions' %}
						<div class="course-item">
							<h3>{{i.name}}</h3>
							<p>{{i.description}}</p>
							<p class="course-price">{{i.professor}}</p>
						</div>
						{% endif %}
					{% endfor %}
				<h2>School of Creature Care</h2>
					{% for i in courses %}
						{% if i.school == 'School of Creature Care' %}
						<div class="course-item">
							<h3>{{i.name}}</h3>
							<p>{{i.description}}</p>
							<p class="course-price">{{i.professor}}</p>
						</div>
						{% endif %}
					{% endfor %}
			</div>
			<div class="col-md-1"></div>
		</div>
	{% endif %}
{% endblock %}
